project: 
  type: website
  output-dir: docs
  render:
    - "*.*"
    - "!individual-folders/ben/*"
    - "!individual-folders/Catherine/*"
    - "!individual-folders/COB/*"
    - "!individual-folders/Eli/*"
    - "!individual-folders/Jade1/*"
    - "!individual-folders/Laura/*"
    - "!individual-folders/Mackenzie/*"
    - "!individual-folders/Mary/*"
    - "!individual-folders/Paulo/*"
    - "!tutorial/Subset*"
    - "!tutorial/tutorial1.Rmd"
    - "maxnet/*"

execute:
  freeze: true
  
website:
  page-navigation: true  
  title: "2023 Ocean Hackweek"
  site-url: https://oceanhackweek.org/
  
  repo-url: https://github.com/oceanhackweek/ohw23_proj_marinesdms
  repo-actions: [edit, issue]
  
  page-footer: "2023 OceanHackWeek" 
 
  sidebar:
    logo: https://oceanhackweek.org/_static/logo.png
    pinned: true
    align: center
    tools: 
      - icon: globe
        href: https://oceanhackweek.org/
        text: "OceanHackWeek"
      - icon: github
        href: https://github.com/oceanhackweek
        text: "GitHub"
    
    style: "docked"
    search: true
    collapse-level: 1
    toc-depth: 2
    contents:
      - text: "Welcome"
        href: index.md
      - section: Background
        contents:
          - text: "Exploring OBIS data"
            href: tutorial/Get_seaturtle_data.Rmd
      - section: SDM Workflow
        contents:
          - text: "Presence Data"
            href: tutorial/seaturtle_robis.Rmd
          - text: "Absence Data"
            href: tutorial/background.Rmd
          - text: "Environmental Data"
            href: tutorial/occ_env.Rmd
          - text: "Model"
            href: tutorial/maxent-sdm.Rmd
          - text: "Visualization"

format:
  html:
    theme:
      light: [cosmo] 
      dark: [cosmo]
    code-copy: true
    code-overflow: wrap
    toc: true

filters:
  - include-files.lua
  - quarto
